
#Request_form form * {
            box-sizing: border-box;
			}
			
#Request_form form fieldset{
			border: solid 2px grey;
			width: 100%;			
			height: 700px;
			}
#Request_form form div {
            padding: 5px;
            background-color: #F5E5F6;
            overflow: hidden;
           }
#Request_form form .col1 {
			float: left;
			line-height: 40px;
			width: 265px;
			height: 40px;
			border: 10px;
			}
#Request_form form .col2 {
			top: -5px;
			display: block;
			float: left;
			line-height: 40px;
			width: 265px;
			height: 40px;
			border: 100px;
			}
#Request_form form .tacbox {
			display:block;
			padding: 1em;
			margin: 1em;
			border: 2px solid #C4C4C4;
			background-color: #F3CDF4;
			max-width: 100%;
			}
#Request_form form legend {
            display: block;
            padding-left: 10px;
            padding-right: 10px;
            border: 3px solid green;
            background-color:tomato;
            color:white;;
            }
#Request_form form label {
			font-size: 15px;
			font-weight: 900;
			color: #green;
			}	
#Request_form form input[type=text], textarea, select {
            width: 22%;
			height: 40px;
            padding: 1px 5px;
            border: 0px solid #666;
            background: #0;
            color: #0;
            font-size: 12px;
            }	
#Request_form form input[type=button]{ 
            width: auto;
            float: right;
            cursor: pointer;
            padding: 7px;
            }
#Request_form form input[type=reset]{ 
            width: auto;
            float: right;
            cursor: pointer;
            padding: 7px;
            }
#Service_form form input[type=button]{ 
            width: 200px;
			height: 75px;
            cursor: pointer;
            padding: 7px;
            }
#Service_form  form .col1 {
			float: left;
			line-height: 40px;
			width: 265px;
			height: 40px;
			border: 10px;
			}
#Service_form form .col2 {
			top: -5px;
			display: block;
			float: left;
			line-height: 40px;
			width: 265px;
			height: 40px;
			border: 100px;
			}
#Service_form form div {
            padding: 5px;
            background-color: #F5E5F6;
            overflow: hidden;
           }			